<!DOCTYPE html>
<!-- Static page rendering-->
<html>
<head>
  <meta charset="utf-8">
  <title>Home</title>
</head>
  <body>
    {{> header}}
    <p1>{{Capitalize welcome}}</p1>
  </body>
  {{> footer}}
</html>
